APP_NAME=Tech4Learn
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8001
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tech4learn_exams
DB_USERNAME=tech4learn
DB_PASSWORD=
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_COOKIE=tech4learn_native_session
QUEUE_CONNECTION=sync
MAIL_MAILER=log
LOG_CHANNEL=single
FRAMEWORK_SYNC_TOKEN=
OCR_SPACE_API_KEY=
