/vendor/
/node_modules/
/.env
/.env.*
!/.env.example
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/**
!/storage/**/
!/storage/**/.gitignore
/public/storage
/public/uploads/
/public/question-repairs/
/public/attendance-ui/
*.log
*.sqlite
*.sql
*.key
*.pem
